<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
        <h1>Counter</h1>
        <div class='counter-text'>
            <h3>{{ session['visits'] }} times</h3>
        </div>
        <div class="buttons">
            <form action="/count" method="POST" >
                <button class='add-visits'>Add Visits</button>
            </form>
            <form action='/destroy_session' method='post'>
                <button class='reset'>Reset</button>
            </form>
        </div>
    </div>
</body>
</html>